* {
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "Helvetica-Now";
    src: url("Fonts/Helvetica-Now/HelveticaNowText-Black.woff2") format("woff2");
}

body {
    height: 100vh;
    width: 100%;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    /*background: red;*/
}

.navbar__logo {
    font-family: "Helvetica-Now";
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    min-width: 450px;
    height: 60px;
    margin-left: 100px;
    /*background: yellow;*/
}

.navbar__links a {
    color: #fff;
    font-weight: 200;
}

.active__link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.navbar__menu__mobile {
    display: none;
    height: 30px;
}

.mobile__navigation__page {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.mobile__navigation__page a {
    color: #fff;
    font-size: 1.3em;
}

@media screen and (max-width: 800px) {
    .navbar__links {
        display: none;
    }
    .navbar__menu__mobile {
        display: block;
    }
}